.header {
    background-color: rgb(16, 238, 103, 0.9);
    font-size: larger;
    padding: 1vw;
}
.content {
    background-color: rgb(16, 238, 103, 0.1);
    padding: 1vw;
    text-align: center;
}
.footer {
    text-align: center;
}

.boundary {
    display: flex;
    justify-content: center;
    padding: 1vw;
}
.margin {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 19vw;
    width: 19vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    font-size: 4vw;

    /*grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%); could also be used.*/
}

/*Main*/

.entry {
    border: 3px solid black;
    text-align: center;
    padding: 1vw;
    cursor: pointer;
}

/*No Borders*/
.nbt {
    border-top: none;
}
.nbr {
    border-right: none;
}
.nbb {
    border-bottom: none;
}
.nbl {
    border-left: none;
}

.entry:hover {
    background-color: antiquewhite;
}